
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <h2 class="text-center">诚邀</h2>
    <div class="text-center">
        我们要开一个让人兴奋的派对，诚邀您的参与。
    </div>
    <h3 class="text-danger text-center">@Html.ActionLink("填写回复","RSVP")</h3>
</body>
</html>
